<b:template-skin>
body#layout div.section {background-color:transparent;border:0;font-family:sans-serif;margin:0;overflow:visible;padding:0;position:relative}
body#layout body#layout ul,#layout ul,body#layout div.section h4,#layout div.section h4 {display:none;}
body#layout .draggable-widget .widget-wrap2 {background:#17CC90}
body#layout .add_widget {background-color: rgba(84, 84, 84, 0.75);}
body#layout .add_widget a {color: white}
body#layout .editlink {color:#fff !important;background-color: #3D3D45;padding: 2px; padding-left: 15px; padding-right: 15px; border-radius: 50px;}
body#layout #recent1 {width: 98%;margin:4px;float: left; background-color: #EBFFFB; padding: 20px 0 !important; border: 1px solid #D8D6D6; margin-bottom: 10px;}
body#layout #recent1 .widget {width:90%;left: 20px; top: 10px;}
body#layout #recent1:before {content: &quot;Featured Software&quot;; font-size: 18px; color: #484848; display: inline-block; font-family: serif; font-weight: 700;}
body#layout #recent2 {width: 98%;margin:4px;float: left; background-color: #EBFFFB; padding: 20px 0 !important; border: 1px solid #D8D6D6; margin-bottom: 10px;}
body#layout #recent2 .widget {width:90%;left: 20px; top: 10px;}
body#layout #recent2:before {content: &quot;Featured Games&quot;; font-size: 18px; color: #484848; display: inline-block; font-family: serif; font-weight: 700;}
body#layout #adpost {width: 98%;margin:4px;float: left; background-color: #EBFFFB; padding: 20px 0 !important; border: 1px solid #D8D6D6; margin-bottom: 10px;}
body#layout #adpost .widget {width:90%;left: 20px; top: 10px;}
body#layout #adpost:before {content: &quot;Homepage only ad slot (468x60 px )&quot;; font-size: 18px; color: #484848; display: inline-block; font-family: serif; font-weight: 700;}
body#layout #adpost2 {width:48%;margin:4px;float: left; background-color: #EBFFFB; padding: 20px 0 !important; border: 1px solid #D8D6D6; margin-bottom: 10px;}
body#layout #adpost2 .widget {width:90%;left: 20px; top: 10px;}
body#layout #adpost2:before {content: &quot;Homepage only ad slot (300x250 px )&quot;; font-size: 18px; color: #484848; display: inline-block; font-family: serif; font-weight: 700;}
body#layout #footer-wrapper .widget {width:90%;left: 20px; top: 10px;}
body#layout #footer-wrapper:before {content: &quot;Template by msdesignbd.com&quot;; font-size: 18px; color: #FFFFFF; display: inline-block; font-weight: 700; background: #FE7549; width: 100%; }
body#layout #adpost3 {width:48%;margin:4px;float: left; background-color: #EBFFFB; padding: 20px 0 !important; border: 1px solid #D8D6D6; margin-bottom: 10px;}
body#layout #adpost3 .widget {width:90%;left: 20px; top: 10px;}
body#layout #adpost3:before {content: &quot;Homepage only ad slot (300x250 px )&quot;; font-size: 18px; color: #484848; display: inline-block; font-family: serif; font-weight: 700;}
</b:template-skin>
